BLE-Midi Controller Code/.pio
BLE-Midi Controller Code/.vscode/.browse.c_cpp.db*
BLE-Midi Controller Code/.vscode/c_cpp_properties.json
BLE-Midi Controller Code/.vscode/launch.json
BLE-Midi Controller Code/.vscode/ipch
Private/
BLE-Midi Controller Code/include/NUX_CONFIG.h